{
  "parser": "babel-eslint",
  "extends": "prettier",
  "plugins": ["prettier"],
  "env": {
    "browser": true,
  },
  "rules": {
    "prettier/prettier": ["warn", {
      "tabWidth": 2,
      "singleQuote": true,
      "trailingComma": 'all',
      "bracketSpacing": true,
    }],
    "arrow-parens": "off",
    "react/require-extension": "off",
    "react/no-unused-prop-types": 0,
  },
}